.card-wrapper{
    margin:0px 5px 12px;
    padding:10px;
    background:white;
    border-radius: 5px;
    min-height: 400px;
    max-height: 650px;
}
.card-wrapper:hover{
    box-shadow:  0px 0px 10px -5px #000;
}
.sticky-card{
    position:sticky;
    top:10px;
    max-height: 60rem;
}
.no-gutters{
    margin-right:-45px;
}
.card-heading{
    text-align: center;
    margin: 10px;
    border-bottom: 1px solid;
    font-size: 14px;
}
.reset-btn{
    float: right;
    border: 1px solid;
    color:black !important;
    font-size: 12px;
    padding: 2px;
    border-radius: 3px;
}
.reset-btn:hover{
    cursor: pointer;
    color:#4479c7 !important;
}
.container{
    background: #e4e3e3;
}
.green-box{
    background: #37b75f;
    padding: 5px;
    border-radius: 5px;
    color: white;
    text-align: center;
    margin: 4px;
    font-size: 14px;
    width: 100%;
}
.green-box:hover{
    background: green;
    cursor: pointer;
}
.green-box.active{
    background: green;
}
.card-img{
    padding: 15px;
    width: 100%;
    height: auto;
    background:#e4e3e3 ;
}
.space-name{
    color:#4479c7;
    font-weight: 500;
    font-size: 14px;
    margin:5px 0;
}
.card-label{
    font-weight: 500;
    font-size: 14px;
    margin: 5px 0;
}
.card-label span{
    color:#4479c7;
}
li{
    font-size: 12px;
}
.no-data{
    padding: 30px;
    font-weight: 500;
}